.button{
    color: white;
    border: 0px;
    background-color: #673ab7c7;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    cursor:pointer;
}
.button:active{
    background-color:#4a07c1c7
}