.container{
    font-family:sans-serif;
}
.all_days_container{
    display:flex;
    flex-wrap:wrap;
    width:25vw
}
.weather_info{
    display: flex;
}
.day{
    margin-bottom: 10px;
}



.temp_max{
    font-size: 30px;
    text-align: center;
}

.temp_min{
    font-size: 20px;
    text-align: center;
    color: gray;
}

.extra_data_container{
    font-family: sans-serif;
    font-size: 15px;
    border: solid 1px gray;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 140px;
}


.container_temp{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 600px) {
    .all_days_container{
        display:flex;
        flex-wrap:wrap;
        width:100vw;
        justify-content:center
    }
  }